html{
    /*background-color:  #747474;*/
    background: linear-gradient(#060806, 20%, #4a694c);
    min-height: 100%;
}

header 
{
    width:100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    /*background: linear-gradient(#111811, 10%, #2c442e);*/
    background-color:  #000000;
}

.header_div{
    margin-left: 50px;
    height: 100%;
    width:100%;
}

.topright{
    display: flex;
    align-content: flex-end;
    margin-left: auto;
    margin-right: 4vw;
    margin-top: 3%;
    text-decoration: none;
}

body{
    background: linear-gradient(#6e1111);
    margin: 0px;
}

.logo{
	max-height: 300px;
	max-width: 220px;
    vertical-align: middle; 
}

p, a, h1, h2, h3, ul, li, form{
    color: blanchedalmond;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    margin: 0px;
    text-decoration: none;
}
li{
    margin-top: 0.5em;
    height: 1.5vw;
}

h1{
    font-size: 3em;
    margin: 0px;
    max-width: 90vw;
}

.options{
    margin-top: 3vw;
    margin-left:5vw;
    text-decoration: none;
}

/*Cours.php*/
.breadcrumbs{
    display: inline;
}

.breadcrumbs *{
    display: inline;
}
.All-contents{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cge{
    margin: 1vw;
}

.media{
    margin: 2vw;
}

.parallelogramme{
    margin: 5vw;
	width:300px;
	height:40%;
	background:rgb(63, 47, 71);
	-webkit-transform:skew(-30deg);
	-moz-transform:skew(30deg);
	-o-transform:skew(30deg);
	transform:skew(30deg);
}

/* Connection.php */

.ZoneSaisie{
    display: flex;
    align-items: center;
    flex-direction:column;
    align-content: center;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    height: 65vh;
    font-size: 1.5rem;
}

form{
    align-content: center;
    font-size: 1rem;
    margin: 2%;
}

.connect{
    margin : 2%;
}